*{
    margin: 0;
    padding: 0;
}
#container{
  background-color: aqua;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
}
li{
    list-style: none;
}
.card{
   
   width: 25%;
   border: 1px solid black;
}
