*{
    margin: 0;
    padding: 0;
}
#container{
  background-color: aqua;
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 grid-gap:20px;
}
li{
    list-style: none;
}
.card{
    padding: 40px;
   border: 1px solid black;
   text-align: center;
   background-color: white;
}
